$flashwhite: #f1f2f6;

$watermelon: #ff6b81;
$coral:#ff7f50;

$frenchblue:#70a1ff;
$satsky: #5352ed;

$chill: #1e90ff;
$greek: #3742fa;

$desire: #eb3b5a;
$highblue:#45aaf2;
$flesh:#fad390;
$melon:#f8c291;